body {
    font-family: 'Arial', sans-serif; /* untuk mengatur font keseluruhan di web */
}
header {
    background-color: #bb2121; /* warna header atas*/
    padding: 20px; /*selisih pembebasan atas bawah*/
    display: flex; /* tipe */
    justify-content: space-between; /* mepet kanan/kiri/tengah */
    align-items: center; /* mepet atas/tengah/bawah */
    font-size: 15px;
}
.logo {
    width: 100px; /* ukuran */
    height: 100px; /* ukuran*/
    display: flex; /* tipe */
    justify-content: center; /* mepet kanan/kiri/tengah */
    align-items: center; /* mepet atas/tengah/bawah */
}
.hero {
    background-color: #ffffff; /* warna background */
    padding: 0px; /*selisih pembebasan atas bawah*/
    text-align: center; /*tuisan mepet kanan/kiri/tengah*/
}
.services {
    background-color: #bb2121; /* warna background */
    padding: 0px; /*selisih pembebasan atas bawah*/
    text-align: center; /*tuisan mepet kanan/kiri/tengah*/
    font-size: 20px;
}
.service-columns {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center; /* mepet atas/tengah/bawah */
    font-size: 17px;
}
.column {
    width: 30%;
}
.columna {
    width: 100%;
    text-align: justify;
}
.about {
    background-color: #bb2121;
    padding: 0px;
    text-align: center;
    font-size: 20px;
}
.about-content {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}
.text-content, .performance {
    width: 45%;
    text-align: left;

}
.graph {
    height: 100px;
    background-color: white;
    border: 1px solid black;
}
.contact {
    background-color: #bb2121;
    padding: 0px;
    text-align: center;
    font-size: 20px;
}
form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, textarea {
    margin: 10px 0;
    width: 80%;
    padding: 5px;
}
button {
    background-color: white;
    border: 1px solid black;
    padding: 30px 30px;
    margin: 10px ;
    border-radius: 20%;
}
button[type="submit"] {
    background-color: blue;
    color: white;
    padding: 20px 20px;
    margin: 10px ;
    border-radius: 20%;
}
footer {
    background-color: #bb2121; 
    padding: 10px;
    text-align: center;
}